body{
    padding: 0;
    margin:0;
    padding: 0;

    font-family:"Helvetica";
    font-weight:400;
    word-wrap: break-word;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.section{
    display: block;
    padding: 10px 0;
}
h1.section-title{
    font-weight: 400;
}

div.full-post-container{
    display: block;
    padding: 10px 0;
}
h1.full-post-title{
    margin-bottom: 15px;
}
div.full-post-date{
    color: rgb(100, 100, 100);
    margin: 15px 0;
}
/*div.full-post-content{}*/

div.post-container{
    padding: 15px;
    margin: 15px 0;
    background-color: white;
}
h1.post-title{
    margin-top: 0px;
    font-size: 25px;
}
div.post-date{
    color: gray;
}
h1.post-title a{
    text-decoration: none;
    color: black;
    transition: color 0.5s;
}
h1.post-title a:hover{
    color: #45b;
}


div.paper-container{
    padding: 0;
    margin: 15px 0;
    margin-bottom: 40px;
}
h1.paper-title{
    margin: 0;
    font-size: 25px;
}
div.paper-date{
    color: rgb(100, 100, 100);
}
div.paper-authors p{
    margin: 0;
}
div.paper-links a{
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px 5px 0;

    transition: color 0.2s, background-color 0.2s;

    background-color: white;
    color: #45b;

    border-style: solid;
    border-radius: 5px;
    border-color: #45b;
}
div.paper-links a:hover{
    background-color:#45b;
    color: white;
}
/*div.paper-authors{
    color: #45b;
    text-decoration: underline;
}*/

a{
    color:#45b;
}
a:visited { 
    color:#45b;
}

@media(max-width: 599px)
{
    body{
        margin-top:50px;
        font-size: 16px;
        line-height: 32px;
    }
    div.section{
        margin: 0 15px;
    }
    div.full-post-container{
        margin: 0 15px;
    }
    div.paper-links a{
        padding: 0 3px;
        border-width: 2px;
    }
}

@media(max-width: 899px) and (min-width: 600px)
{
    body{
        margin-top:50px;
        font-size: 16px;
        line-height: 32px;
    }
    div.section{
        width:570px;
        margin-left: auto;
        margin-right: auto;
    }
    div.full-post-container{
        width:570px;
        margin-left: auto;
        margin-right: auto;
    }
    div.paper-links a{
        padding: 0 3px;
        border-width: 2px;
    }
}

@media(max-width: 1199px) and (min-width: 900px)
{
    body{
        margin-top:50px;
        font-size: 20px;
        line-height: 40px;
    }
    div.section{
        width:765px;
        margin-left: auto;
        margin-right: auto;
    }
    div.full-post-container{
        width:765px;
        margin-left: auto;
        margin-right: auto;
    }
    div.paper-links a{
        padding: 0 5px;
        border-width: 3px;
    }
}

@media(min-width: 1200px)
{
    body{
        margin-top:70px;
        font-size: 20px;
        line-height: 40px;
    }
    div.section{
        width:1115px;
        margin-left: auto;
        margin-right: auto;
    }
    div.full-post-container{
        width:1115px;
        margin-left: auto;
        margin-right: auto;
    }
    div.paper-links a{
        padding: 0 5px;
        border-width: 3px;
    }
}

